<div class="column">
  <nav class="panel">
    <p class="panel-heading">Who to Follow</p>



    <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figure class="image is-32x32">
            <img src="https://bulma.io/images/placeholders/64x64.png" alt="">
          </figure>

        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>Anuj</strong>
              <small>@imksanuj</small>
            </p>

          </div>

        </div>
      </article>

    </div>
  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://bulma.io/images/placeholders/64x64.png" alt="">
        </figure>

      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Vatsala</strong>
            <small>@vatsala.hemdan</small>
          </p>

        </div>

      </div>
    </article>

  </div>

  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://bulma.io/images/placeholders/64x64.png" alt="">
        </figure>

      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Rekha</strong>
            <small>@rekha.k</small>
          </p>

        </div>

      </div>
    </article>

  </div>
  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://bulma.io/images/placeholders/64x64.png" alt="">
        </figure>

      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Aman</strong>
            <small>@amanyadav</small>
          </p>

        </div>

      </div>
    </article>

  </div>
  </nav>
</div>
